<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.amylilian.text_card">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".SplashScreen"
            android:label="跟著喵喵ABC">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="喵喵窩"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <!--限制直立-->
        <activity android:name=".StudyActivity"
            android:label="學習選單"
            android:screenOrientation="portrait"/>

        <activity android:name=".AboutActivity"
            android:label="軟體資訊"/>
        <activity android:name=".DBActivity" />
        <activity android:name=".ReviewTestActivity"
            android:label="測驗選單"/>
        <activity android:name=".Test_pic"
            android:label="喵喵的試煉"/>
        <activity android:name=".Test_sound"
            android:label="喵喵的試煉"/>
        <activity android:name=".Test_word"
            android:label="喵喵的試煉"/>
        <activity android:name=".Test_End_Activity"
            android:label="試煉結果"></activity>

        <activity android:name=".StudyContentActivity"
            android:label="喵喵的學習"
            android:screenOrientation="portrait"/>
        <activity android:name=".StudyContentMiddleActivity"
            android:label="喵喵的學習"
            android:screenOrientation="portrait"/>
        <activity android:name=".StudyContentEndActivity"
            android:label="喵喵的學習"
            android:screenOrientation="portrait"/>
        <activity android:name=".StudyResultActivity"
            android:label="喵喵的學習"
            android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>